---
---
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- Computer Modern (phông chữ của LaTeX) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bitmaks/cm-web-fonts@latest/fonts.css"> 
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="https://starry99.github.io/catbook/assets/img/cat1.jpg">
     <!-- Share -->
    <meta property="og:image" content="https://starry99.github.io/catbook/assets/img/cat1.jpg"/>
    <meta property="og:title" content="Theme LaTeX hmm"/>
    <meta property="og:url" content="https://namnl2510757-gif.github.io/130526/"/>
    <meta property="og:description" content="Bản test này tập trung vào việc soạn lại dự án mẫu (Example LaTeX) của LaTeX thành web."/>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="Margins">
      <p class="LatexTitle">{{ page.title }}</p>
      {% if page.author %} <p class="LatexName">{{ page.author }} <a href="#author1">\(^{1}\)</a></p> {% endif %}
      {% if page.date %} <p class="LatexDate">{{ page.date }}</p> {% endif %}
      
      {% if page.abstract %}<div class="AbstractMargins">
        <p class="LatexAbstract">Abstract</p>
        <p class="LatexAbstractText">{{ page.abstract }}</p>
      </div>{% endif %}

      {{ content }}
      
    <!-- Mathjax -->
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script>
    MathJax = {
      tex: {
        tags: 'ams'  // or 'all'
      }
    };
    </script>
    <script>
      function zoomOut() {
      let img = document.getElementById("myImage");
        img.style.width = (img.clientWidth - 50) + "px"; // Reduces width by 50px
      }
    </script>
  </body>
</html>